.select_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border: 1px solid #999999;
  border-radius: 10px;
}

.select_wrapper img {
  width: 50px;
  max-height: 30px;
  border-radius: 5px;
}

.select_wrapper select {
  width: auto;
}
