.label {
  font-size: 16pt;
  margin: 0;
}

.inputs {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.inputs input,
select {
  outline: none;
  font-size: 14pt;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  background-color: whitesmoke;
}

.input {
  border: 1px solid #999999;
}

.input:focus {
  border: 1px solid #675aff;
}
