.inputs {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30%;
}

.label {
  font-size: 16pt;
  margin-bottom: 5px;
}

.inputs input,
select {
  outline: none;
  font-size: 14pt;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  background-color: whitesmoke;
}

.inputs input {
  border: 1px solid #999999;
}

input:focus {
  border: 1px solid #675aff;
}
